# Q1. Create one variable containing following types of data

(i) String
(ii) List
(iii) Float
(iv) Tuple

In [2]:
# varibale s for string
s='abcd'
print(s)
print(type(s))

abcd
<class 'str'>

In [3]:
# varibale l for list
l=[2,3,4,5]
print(l)
print(type(l))

[2, 3, 4, 5]
<class 'list'>

In [4]:
# varibale f for float
f=2.34
print(f)
print(type(f))

2.34
<class 'float'>

In [5]:
# varibale t for tuple
t=(2,3,4)
print(l)
print(type(t))

[2, 3, 4, 5]
<class 'tuple'>

# Q2. Given are some following variables containing data:

(i) var1=''
(ii) var2='[DS,ML,Python]'
(iii) var3=['DS','ML','Python']
(iv) var4= 1
What will be the data type of the above given variable.

In [8]:
var1=''
type(var1)

str

In [9]:
var2='[DS,ML,Python]'
type(var2)

str

In [11]:
var3=['DS','ML','Python']
type(var3)

list

In [12]:
var4=1
type(var4)

int

# Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

(i) Division Operator ( / )
    It is used for the division of two variables

In [1]:
x=10
y=4

In [2]:
x/y

2.5

(ii) Modulus Operator ( % )
     It produces a remainder for the integer division

In [50]:
x=5
y=3

In [51]:
x%y

2

(iii) Floor Division Operator
      This operator will divide the first argument by the second and round the result down to the nearest whole           number

In [13]:
x=11
y=2

In [14]:
x//y

5

(iv) Exponentiation Operator
     It returns the result of raising the first operand to the power of the second operand

In [15]:
x=5
y=2

In [16]:
x**y

25

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [24]:
list=[1,2,'str',3.0,5,'str str','str 34',True,9,'10']

In [25]:
for i in list:
    print(i)

1
2
str
3.0
5
str str
str 34
True
9
10

# Q5. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [28]:
list=[*range(1,26)]     #argument-unpacking operator *

In [63]:
for i in list:
    if i%3==0:
        print(i ,"is divisible by 3" )
    else: 
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Q6. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types are those whose existing values can be modified, e.g. list and  dictionaries

In [66]:
# e.g. of list having 5 elements
list=[2,4,5,6,7]
#now we want to change the 2nd element i.e 1st index element with value 10
list[1]=10

In [67]:
list

[2, 10, 5, 6, 7]

Imutable data types are those whose existing values cannot be modified, e.g. string,int,float

In [72]:
# e.g. of string 
str='achal'
# now if want to change the first element i.e. 0th index element with A, we will get error
str[0]='A'

TypeError: 'str' object does not support item assignment

In [73]:
# but we can assign a completely different value to the str variable (it is allowed in immutable data types)
str='Achal'

In [74]:
str

'Achal'